<html>
    <head>
        <title>Резултат</title>
    </head>
    <body>
        <h1>Список добавленных записей</h1>
        {{range . }}
        <div>{{ . }}</div>
        {{end}}
        <form action="GET">
            <button type="submit">продолжить ввод</button>
        </form>
    </body>
</html>